<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternApp"
        tools:targetApi="34">
        <activity
            android:name=".StudentDir.StudentProjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.UploadProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StudentDir.StudentProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VideoCall.VideoCallActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDir.DeleteUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.UpdateEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.UploadUserPicActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.UserProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainDir.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HRDir.SearchStudents"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainDir.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HRDir.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HRDir.FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".MainDir.BackgroundCheck"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>